{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "max-len": "off",
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 0,
    "@typescript-eslint/no-unsafe-assignment": 0,
    "react/jsx-fragments": 0,
    "arrow-parens": 0
  }
}
