@import '../../node_modules/react-tabs/style/react-tabs.scss';

// override react-tabs

.react-tabs__tab-list {
  margin: 0px;
}

.react-tabs__tab-panel--selected {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #aaa;
}

.react-tabs__tab-list {
    border-bottom: none;
}
